html{
	background-size: cover;
	color: white;
}
.mainPage{
	border: 2px solid rgba(255, 255, 255, 0);
	font-size: 40px;
	margin: 50px 0 50px 100px;
	padding: 10px;
	width: 15%;
	text-align: center;
	border-radius: 50px;
	box-sizing: border-box;
}
.mainPage:hover{
	border: 2px solid white;
	box-sizing: border-box;
}
.transition{
	transition: 0.5s;
}
a{
	color: white;
	text-decoration: none;
}
.figure{
	width: 20%;
	padding: 10px;
	font-size: 20px;
	animation-name: text;
    animation-duration: 1.5s;
	animation-fill-mode: forwards;
}
div.figure h1{
	border-bottom: 2px solid white;
}
@keyframes text{
	from {margin-left:0px; top:0px;}
	to {margin-left:100px; top:0px;}
}
::selection{
	background: white;
	color: black;
}
